:root {
    --accent: rgb(33, 150, 243);
    --accent-alpha-70: rgba(33, 150, 243, .7);
    --accent-alpha-20: rgba(33, 150, 243, .2);
    --accent-secondary: rgb(255, 152, 0);
    --accent-secondary-alpha-70: rgba(255, 152, 0, .7);
    --accent-secondary-alpha-20: rgba(255, 152, 0, .2);
    --background: #1A1A1A;
    --color: #FFFFFF;
    --border-color: rgba(255, 152, 0, .2);
    --border-secondary-color: rgba(33, 150, 243, .2);
  }