// :root {
//     --accent: rgb(0, 123, 255);
//     --accent-alpha-70: rgba(0, 123, 255, .7);
//     --accent-alpha-20: rgba(0, 123, 255, .2);
//     --accent-secondary: rgb(255, 87, 34);
//     --accent-secondary-alpha-70: rgba(255, 87, 34, .7);
//     --accent-secondary-alpha-20: rgba(255, 87, 34, .2);
//     --background: #262626;
//     --color: #FFFFFF;
//     --border-color: rgba(255, 87, 34, .2);
//     --border-secondary-color: rgba(0, 123, 255, .2);
//   }

// :root {
//     --accent: rgb(255, 69, 0);
//     --accent-alpha-70: rgba(255, 69, 0, .7);
//     --accent-alpha-20: rgba(255, 69, 0, .2);
//     --accent-secondary: rgb(30, 144, 255);
//     --accent-secondary-alpha-70: rgba(30, 144, 255, .7);
//     --accent-secondary-alpha-20: rgba(30, 144, 255, .2);
//     --background: #282c34;
//     --color: #FFFFFF;
//     --border-color: rgba(255, 69, 0, .2);
//     --border-secondary-color: rgba(30, 144, 255, .2);
//   }
  

 