{% macro copyright(config) %}
  <div class="copyright">
      <span>
          © {{ now() | date(format="%Y") }} {{ config.extra.copyright | safe}} ::
          Powered by
          {{ url::external(url="https://getzola.org/", text="Zola", icon=false) }}
          | Theme {{ url::external(url="https://github.com/slashnephy/zerm", text="Zerm", icon=false) }}
      </span>
      <span>
       
      </span>
  </div>
{% endmacro copyright %}

{% macro script() %}
    <script type="text/javascript" src="{{ get_url(path="js/main.js") }}"></script>
{% endmacro script %}
