{% macro meta(page, list=false) %}
<div class="post-meta {% if list %}meta-list{% else %}meta-page{% endif %}">
        {{ posts::date(date=page.date, updated=page.updated) }}
        {% if list %}
        :: <span class="post-metatitle">
            <strong>@<a href="{{ page.permalink | safe }}">{{ page.title }}</a></strong>
        </span>
        {% else %}
        :: <span class="post-readtime">
            {{ page.reading_time }} min read
        </span>
        {% endif %}

        {{ posts::taxonomies(taxonomy=page.taxonomies) }}
    </div>
{% endmacro meta %}

{% macro date(date, updated) %}
    <span class="post-date">
        {%- if date -%}
            {{ date | date(format="%Y.%m.%d") }}
        {%- endif -%}
        {%- if updated -%}
            [Updated: {{ updated | date(format="%Y.%m.%d") }}]
        {%- endif -%}
    </span>
{% endmacro date %}

{% macro taxonomies(taxonomy) %}
    {% if taxonomy.series -%}
        {{ posts::series(series=taxonomy.series) }}
    {% endif -%}
    {% if taxonomy.tags -%}
        {{ posts::tags(tags=taxonomy.tags) }}
    {% endif -%}
{% endmacro taxonomies %}

{% macro series(series) %}
    ::
    {% for siri in series -%}
    <sub><sup><strong><a href="{{ get_taxonomy_url(kind="series", name=siri) }}">{{ siri }}</a></strong></sup></sub>
    {% endfor -%}
{% endmacro series %}

{% macro tags(tags) %}
    ::
    {% for tag in tags -%}
    <sub><sup><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" 
        title="{{ tag }}"
        style="
        font-family: monospace; 
        background-color: #cdcccc; 
        padding: 2px 4px; 
        border-radius: 4px; 
        color: #333;
        text-decoration: none; 
        white-space: nowrap; 
        font-size: smaller;">#{{ tag }}</a></sup></sub>
    {% endfor -%}
{% endmacro tags %}
